<style>
	.transforms {
		padding: 20px;
	}
	.transforms div {
		float: left;
		margin: 0 50px 0 0;
	}
	.transforms .transform {
		-moz-transform: rotate(90deg) scale(1.5);
		-webkit-transform: rotate(90deg) scale(1.5);
	}
</style>

<div class="transforms groupe">
	<div class="pas-transform"><img src="/images/pubwich.png" alt="Pubwich" /></div>
	<div class="transform"><img src="/images/pubwich.png" alt="Pubwich" /></div>
</div>
