<style>
	.border-radius {
		padding: 20px;
	}
	.border-radius div {
		width: 300px;
		height: 300px;
		float: left;
		margin: 0 20px 0 0;
		background: aqua;
	}
	.border-radius .rond {
		border-radius: 2em;
		-moz-border-radius: 2em;
		-webkit-border-radius: 2em;
	}
</style>

<div class="border-radius groupe">
	<div class="pas-rond"></div>
	<div class="rond"></div>
</div>
