<style>
	.box-shadow {
		padding: 20px;
	}
	.box-shadow div {
		width: 300px;
		height: 300px;
		float: left;
		margin: 0 20px 0 0;
		background: blue;
	}
	.box-shadow .ombre {
		box-shadow: 10px 10px 30px rgba(0,0,0,0.8);
		-moz-box-shadow: 10px 10px 30px rgba(0,0,0,0.8);
		-webkit-box-shadow: 10px 10px 30px rgba(0,0,0,0.8);
	}
</style>

<div class="box-shadow groupe">
	<div class="pas-ombre"></div>
	<div class="ombre"></div>
</div>
