<style>
	html { -webkit-text-size-adjust: 200%; }
	body { margin: 0; padding: 10px 20px; font-family: Helvetica, sans-serif; line-height: 1.3; }
	h1 { font-size: 180%; margin-bottom: 0; }
	h2 { font-size: 120%; }
	h3 { font-size: 100%; }
	header { display: block; margin: 0 0 2em 0; padding: 0 0 1em; border-bottom: 1px solid rgba(0,0,0,0.3); }
	footer { display: block; margin: 2em 0 0 0; padding: 0.5em 0 0; border-top: 1px solid rgba(0,0,0,0.3); }
</style>
<meta name="viewport" content="width=720">

<header>
	<h1>HTML5</h1>
	<p>Quelles sont les possibilités que nous offre le iPhone/iPad en terme de HTML, CSS et Javascript?</p>
</header>

<h2>Exemples</h2>
<h3>HTML</h3>
<ul>
	<li><a href="./html/input">Types de champ</a></li>
	<li><a href="./html/video">Vidéo</a></li>
	<li><a href="./html/icon"><code>apple-touch-icon</code></a></li>
	<li><a href="./html/icon-precomposed"><code>apple-touch-icon-precomposed</code></a></li>
</ul>
<h3>CSS</h3>
<ul>
	<li><a href="./css/border-radius"><code>border-radius</code></a></li>
	<li><a href="./css/box-shadow"><code>box-shadow</code></a></li>
	<li><a href="./css/text-shadow"><code>text-shadow</code></a></li>
	<li><a href="./css/transform"><code>transform</code></a></li>
	<li><a href="./css/tap-highlight-color"><code>tap-highlight-color</code></a></li>
	<li><a href="./css/text-size-adjust"><code>text-size-adjust</code></a></li>
</ul>

<h3>Javascript</h3>
<ul>
	<li><a href="./javascript/evenements">Événements</a></li>
	<li><a href="./javascript/geolocation">Géo-localisation</a></li>
	<li><a href="./javascript/storage">Stockage local</a></li>
	<li><a href="./javascript/cache">Cache</a></li>
	<li><a href="./javascript/canvas"><code>canvas</code></a></li>
</ul>

<h2>Liens utiles</h2>
<ul>
	<li><a href="http://developer.apple.com/safari/library/documentation/AppleApplications/Reference/SafariWebContent/Introduction/Introduction.html">Safari Web Content Guide</a> <small>(developer.apple.com)</small></li>
	<li><a href="http://developer.apple.com/safari/library/documentation/InternetWeb/Conceptual/iPhoneWebAppHIG/Introduction/Introduction.html">iPhone Human Interface Guidelines for Web Applications</a> <small>(developer.apple.com)</small></li>
	<li><a href="http://building-iphone-apps.labs.oreilly.com/">Building iPhone Apps with HTML, CSS, and JavaScript</a> <small>(labs.oreilly.com)</small></li>
	<li><a href="http://diveintohtml5.org">Dive Into HTML5</a> <small>(diveintohtml5.org)</small></li>
</ul>

<h2>Exemples d’applications</h2>
<ul>
	<li><a href="http://buzzz.tv">Buzzz.tv</a> <small>(buzzz.tv)</small></li>
	<li><a href="http://showtime-app.com">Showtime</a> <small>(showtime-app.com)</small></li>
	<li><a href="http://showtime-app.com">Fever</a> <small>(feedafever.com)</small></li>
</ul>

<h2>Code source</h2>
<p>Le code source de ces exemples est disponible à <a href="http://github.com/remiprev/iphonedevcampqc">http://github.com/remiprev/iphonedevcampqc</a>.</p>

<footer>
	<p><small>© Copyright 2010 <a href="http://remiprevost.com">Rémi Prévost</a></small></p>
</footer>
