<style>
	html { -webkit-text-size-adjust: 200%; }
	body { margin: 0; padding: 10px 20px; font-family: "Gill Sans", Helvetica, sans-serif; }
	h1 { font-size: 160%; }
	h2 { font-size: 120%; }
</style>
<meta name="viewport" content="width=720">

<header>
	<h1>HTML5</h1>
	<p>Quelles sont les possibilités que nous offre le iPhone/iPad en terme de HTML, CSS et Javascript?</p>
</header>

<h2>HTML</h2>

<h2>CSS</h2>
<ul>
	<li><a href="./css/border-radius">Border-radius</a></li>
	<li><a href="./css/box-shadow">Box-shadow</a></li>
	<li><a href="./css/text-shadow">Text-shadow</a></li>
	<li><a href="./css/transform">Transformations</a></li>
	<li><a href="./css/tap-highlight-color">Tap-highlight-color</a></li>
	<li><a href="./css/text-size-adjust">Text-size-adjust</a></li>
</ul>

<h2>Javascript</h2>
<ul>
	<li><a href="./javascript/geolocation">Géo-localisation</a></li>
	<li><a href="./javascript/storage">Stockage local</a></li>
</ul>

<h2>Code source</h2>

<p>Le code source de ces exemples est disponible à <a href="http://github.com/remiprev/iphonedevcampqc">http://github.com/remiprev/iphonedevcampqc</a>.</p>
