	<script>
		cache = window.applicationCache;
		cache.addEventListener('updateready', function() {
			cache.swapCache();
		}, false);
	</script>
	<img src="./image-en-cache.jpg" alt="Image mise en cache" />
