<!DOCTYPE html>
<html>
	<meta charset="utf--8">
	<title>{{title}}</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

{{{yield}}}
</html>
